body{
    background-image: url("../img/bark.jpg");
    position: absolute;
    height: 100%;
    width: 100%;
}

.content {
    margin: 4em auto;
    padding: 1em;
    background: rgba(255, 255, 255, 0.55);
    width: 700px;
}

.content p{
    margin: 8px;
}

.content p{
    margin: 8px;
}

legend{
    margin-left: 12px;
}
fieldset{
    padding: 12px;
}
select{
    margin-bottom: 8px;
}

