
body{
    background-image: url("../img/bark.jpg");
    position: absolute;
    height: 100%;
    width: 100%;
}

.content {
    margin: 4em auto;
    background: rgba(255, 255, 255, 0.55);
    width: 700px;
}

.content p{
    padding: 3em;
    padding-bottom: 0em;
    padding-top: 1em;
}
.content p:last-of-type{
    padding-bottom: 3em;
}

.link_logo{
    margin: 3em; 
    height: 7em; 
    width: 7em;
    text-align: center; 
}

.link_logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.link_container{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.clickable_header{
    cursor: pointer;
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 4px;
}
.text_container {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 0px;
    position: relative;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.appear {
    max-height: 500px;
}


	table.data-table {
		font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 24px;
        background-color: rgba(255, 255, 255, 0.55);
        border: 2px solid rgb(67, 67, 67);
    } 
    table.data-table caption{
        text-align: left;
        font-weight: bold;
        background-color: rgb(67, 67, 67);
        color: white;
        width: fit-content;
        padding: 1px 4px;
    }
    table.data-table th, table.data-table td{
        border-bottom: 1px solid  rgb(67, 67, 67);
        padding: 4px;
        margin: 4px;
    }
    table.data-table td + td, table.data-table th + th{
        border-left: 1px solid  rgb(67, 67, 67);
    }

	.data-table td {

	}
	.data-table th {
        background-color: #cfe2f3; 
		font-weight: bold;
	}
